body {
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
}

h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline;
    color: #A4A400;
}

h2 {
    text-align: left;
    font-size: 18pt;
    font-weight: normal;
    text-decoration: underline;
    color: #A4A400;
}

a {
    color: #A4A400;
}

blockquote {
    background-color: #FFFFA8;
    padding: 10px;
    margin-left: 40px;
    font-style: italic;
}

img {
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

caption{
    text-align: center;
    font-style: italic;
    color: gray;
}

ul.tooltips {
    list-style: none;
    padding-left: 10px;
}

ul.tooltips li {
    background-image: url("bullet.png");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 0 6px;
    padding-left: 18px;
}